/* @media (max-width: 768px) {
.data {
    grid-template-columns: repeat(1, 1fr);
}
} */
.lang{
    position: fixed;
    top: 1vh;
    right: 1vw;
}
.langs{
    display: none;
    position: fixed;
    top: 15vh;
    left: 54vw;
}
.oll{
    background-color: #f6f8fb;
}
.button{
    width: 400px;
    height: 400px;
    background-image: url(business.png);
    border-radius: 50px;
    position: fixed;
    top: 47vh;
    right: 5vw;
}
.img{
    width: 400px;
    height: 400px;
    background-image: url(work.png);
    border-radius: 50px;
    position: fixed;
    top: 47vh;
    left: 5vw;  
}
.searchJop {
    position: fixed;
    top: 820px;
    left: 150px;
}
.search{
    position: fixed;
    top: 820px;
    right: 150px;
}
.tag{
    color: #123d57;
    position: fixed;
    top: 5vh;
    left: 33vw;
}
.bady{
    background-color: rgba(0, 0, 0, 0.692);
}
.form{
    position: fixed;
    top: 30vh;
    left: 44vw;
}
.shop{
    color: rgb(60, 255, 0);
}
.phone{
     color: rgb(60, 255, 0);
  }
.hello{
    color: rgb(30, 255, 0);
    position: fixed;
    top: 5vh;
    left: 50vw;
}
.ras{
    color: rgb(30, 255, 0);
    position: fixed;
    top: 13vh;
    left: 42.8vw;
}
.whats{
    color: rgb(30, 255, 0);
}
.num{
    color: rgb(30, 255, 0);
}
.Next{
    position: fixed;
    top: 65vh;
    left: 50vw;
}
.tipe{
    color: rgb(30, 255, 0);
}
.data{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    gap: 10px; 
}
.delete{
    cursor: pointer;
    position: absolute;
    top: .5vh;
    right: .5vw;
}
.size{
    font-size: 27px;
}
.offer_box{
    background-color: aliceblue;
    border: 1px solid gray;
    padding: 20px;
    flex: 0 0 calc(33.333% - 10px);
    position: relative;
}
.dbbcg{
    background-color: rgba(0, 0, 0, 0.685);
}
.mhaf{
    position: fixed;
    top: 15px;
    right: 15px;
}
.mdn{
    position: fixed;
    top: 15px;
    left: 15px;
}
.zero{
    display: none;
}
.mosta{
    height: 30px;
    background-color: rgba(0, 0, 0, 0.479);
}
.back{
    background-color: rgba(0, 0, 0, 0.24);
}
/* @media (min-width: 0px) and (max-width: 320px) {}
@media (min-width: 320px) and (max-width: 375px) {}
@media (min-width: 375px) and (max-width: 425px) {}
@media (min-width: 425px) and (max-width: 768px) {
.tag{
    position: fixed;
    top: 30px;
    left: 90px;
}
.button{
    width: 580px;
    height: 200px;
    background-image: url(business.png);
    position: fixed;
    top: 300px;
    right: 10px;
}
.img{
     width: 580px;
    height: 200px;
    position: fixed;
    top: 580px;
}
.form{
    position: fixed;
    top: 300px;
    left: 100px;
}
.Next{
    position: fixed;
    top: 620px;
    left: 190px;
}
.hello{
    color: rgb(30, 255, 0);
    position: fixed;
    top: 10px;
    left: 190px;
}
.ras{
    color: rgb(30, 255, 0);
    position: fixed;
    top: 13vh;
    left: 100px;
}
.langs{
    position: fixed;
    top: 420px;
    left: 150px;
}
.data{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-flow: row;
    gap: 10px; 
}
}
@media (min-width: 768px) and (max-width: 1024px) {}
@media (min-width: 1024px) and (max-width: 1440px) {} */